.deliver {
  background-color: rgb(245, 245, 245);
}

.deliver__items {
  width: 145px;
  z-index: 3;
  font-size: 17px;
  cursor: pointer;
  background-color:white;
  cursor: pointer;
  box-shadow: 0px 9px 32px -20px rgba(0,0,0,0.75);
}

.deliver__items div {
  padding: 15px 5px;
  box-sizing: border-box;
}

.deliver__items div:hover {
  background-color: rgb(220, 220, 220);
}