.header {
  padding: 28px 80px 28px;
  display: flex;
  justify-content: space-between;
  font-family: 'Roboto', sans-serif;
}

.header--scrolled {
  z-index: 2;
  position: fixed;
  width: 87.2vw;
  padding: 28px 80px 28px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  font-family: 'Roboto', sans-serif;
  box-shadow: 0px 10px 26px -19px rgb(150, 150, 150);
}

header>div {
  display: flex;
}

.header__uber-logo {
  margin-right: 135px;
}

header button {
  display: flex;
  margin-right: 60px;

  font-family: 'Roboto', sans-serif;
  font-size: 19px;
  background-color: white;
  border: none;

  cursor: pointer;
}

.header__button-text {
  padding-top: 3px;
}

.header__button-icon {
  margin-right: 10px;
}

.header__sign-in {
  margin-top: 3px;

  font-size: 19px;
  text-decoration: none;
  color: black;
}