.search--active__wrapper {
  margin-right: 60px;
  padding: 9px;
  background-color: rgb(245, 245, 245);
  margin-top: 20px;
}

.search--active {
  display: flex;
}

.search--active input {
  width: 180px;
  font-size: 17px;
  border: none;
  background-color: rgb(245, 245, 245);
}

.search--active input:focus {
  outline: none;
}

.search__desactivate {
  margin-right: 0;
  background-color: rgb(245, 245, 245);
}

.button-clear__visible {
  margin-right: 0;
  background-color: rgb(245, 245, 245);
}

.button-clear__hidden {
  display: none;
}